:root {
    --bg-clr: rgb(180, 180, 180);
    --alternative-bg-clr: rgb(50, 50, 50);
    --main-font: 'Arial';
    --alternative-font: 'Monospace';
}

a {
    text-decoration: none;
}

nav > ul > li,
header, 
footer {
    background-color: var(--alternative-bg-clr);
}

main {
    padding-inline: 3em;
    background-color: var(--bg-clr);
}

nav {
    padding: .5em 0em;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0 2em;
}

nav > ul > li {
    padding: .5em 2em;
}

h1,
footer {
    padding: 1.5em 0em;
    text-align: center;
}