* {
    font-family: Arial;
    font-size: 100%;
    --nav-width: 20%;
}

header {
    color: darkgreen;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;   
}

header, nav, footer {
    padding: 5px 0px;
    background-color: lightgreen;
    box-shadow: 5px 5px 5px gray;
    border: 2px dotted darkgreen;
}

nav {
    width: var(--nav-width);
    float: right;
}

section {
    width: calc(100% - var(--nav-width));
}

nav, section {
    margin-top: 10px;
}

footer {
    color: black;
    text-align: center;
}